.header {
    height: 10em;
    padding: 5em;
    background-image: url("../imgs/banner_cafeteria.jpg");
    background-size: cover;
    background-position:center;
}

.header h1, .header p {
        margin:0px;
        color:white;
}
    
body {
    color: black;
    text-align: left;
}

table {
    border: none;
    width: max-content;
    margin: auto;
}

td {
    border: none;
    text-align: center;
    padding: 20px;
}

img {
    width: 250px;
    height:auto;
    display: block;
    margin: auto;

}

.footer {
    height: 7em;
    line-height: 3em;
    background-color: rgb(176, 121, 18);
    color: white;
    text-align: center;
    font-weight: 900;
}